# ------------------------------------
# Archivos de NetBeans
# ------------------------------------
# Archivos de configuración específicos de la IDE
nbproject/private/
build/
dist/
nbbuild/
nbdist/
.nbattrs
nb-configuration.xml

# ------------------------------------
# Archivos generados por Maven y compilación
# ------------------------------------
target/
# Borrar logs y jars descargados
*.log
*.jar
*.war
*.ear
pom.properties

# ------------------------------------
# Archivos de sistema operativo
# ------------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db

# ------------------------------------
# Directorios específicos de gestión de dependencias
# ------------------------------------
# Maven NO debe subir los JARs descargados (Apache POI, etc.)
# Solo sube el pom.xml (que indica lo que hay que descargar)
.settings/
.classpath
.project
