# ------------------------------------
# Maven
# ------------------------------------
target/

# ------------------------------------
# NetBeans / IDEs
# ------------------------------------
nbproject/private/
build/
dist/
nbbuild/
nbdist/
.nbattrs
nb-configuration.xml
.settings/
.classpath
.project

# ------------------------------------
# Logs
# ------------------------------------
*.log

# ------------------------------------
# Sistema Operativo
# ------------------------------------
.DS_Store
Thumbs.db
